@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
.entire {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}
a, div {
    text-decoration: none;
}
*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    line-height: inherit;
    margin: 0;
    font-family: Pretendard;
}
html {
    font-family: sans-serif;
    font-size: 12.5px;
}
:host, html {
    font-feature-settings: normal;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
    line-height: 1.5;
}
.ScrollTopBtn_Wrapper{
    width: 56px;
    height: 56px;
    bottom: 24px;
    right: 24px;
    position: fixed;
    width: 42px;
    height: 42px;
    right: 16px;
    bottom: calc(env(safe-area-inset-bottom) + 72px);
    z-index: 999;
    display: none;
}
.ScrollTop__Btn{
    width: 0px;
    height: 0px;
    border: 0px;
    border-radius: 50%;
    text-indent: -100em;
    overflow: hidden;
    padding: 0px;
    outline: none;
    position: absolute;
    background: transparent;
    z-index: 2;
}
button, html input[type='button'], input[type='reset'], input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    padding: 8px !important;
}
[role=button], button {
    cursor: pointer;
}
button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;

.ScrollTopBtn_Wrapper span {
    position: relative;
}

.Icon {

    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
    transition-property: opacity, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    display: flex !important;
    opacity: 0 !important;

    margin: 0px !important;

}

svg:not(:root) {
    overflow: hidden;
}
.Icon svg {
    width: 24px;
    fill: rgb(13, 13, 13);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
svg{
    height: 18px;
    width: 22px;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
:not(svg) {
    transform-origin: 0px 0px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
/**/
.ContentOnlyLayout__Wrapper {
    background-color: white;
    height: auto
}
.SubIndex__PageWrapper {
    background-color: rgb(248, 248, 248);
    min-height: 140vh;
}
.styled__TopContents {
    width: 100%;
    z-index: 1;
}
.styled__TopContentsWrap {
    display: block;
    background: white;
    margin: 64px auto 0px;
}
.ProductTopBox__Wrapper {
    margin: 0px auto;
    width: 1080px;
}
.ProductTopBox__Container {
    padding: 0px 228px 40px;
    align-items: start;
    display: flex;
}
.ProductTopBox__Content {
    display: flex;
    align-items: start;
    padding: 0px;
    width: 100%;
}
.ProductContentWrapper {
    width: 100%;
}
.ProductTopBox {
    display: flex;
    align-items: flex-start;
}
.ProductBadge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 4px;
    border-radius: 2px;
    background-color: rgb(86 205 40);
    color: rgb(84, 84, 84);
    font-size: 10px;
    font-weight: bold;
    line-height: 120%;
}
.ProductCategory{
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    margin-top: 8px;
}
.ProductTitle {
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    color: rgb(28, 28, 28);
    margin-top: 4px;
}
.ProductThumbnail {
    width: 160px;
    height: 160px;
    margin-right: 40px;
    display: block;
}
.ProductThumbnail img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    display: block;
}
.ProductTopBox__Content__2 {
    display: none;
}
.ProductEditor__Wrapper {
    display: flex;
    flex: 1 1 0%;
}
.ProductEditor__Container {
    width: 100%;
    height: 400px;
}
.ProductEditor__Content{
    width: 100%;
    max-width: 1080px;
    margin: 0px auto;
}
.ProductEditor {
    padding: 15px 225px 120px;
}
.ProductMenu__Wrapper {
    flex-direction: row;
    display: flex;
    gap: 13px;
    width : 630px;
    height: 170px;
    justify-content: center;
}
.Productinformation__Wrapper {
    display: block;
    height: 100px;
}
.ProductMenu__Wrapper > * {
    flex: 1 1 0px;
    min-width: 0px;
}
.IconImageWrapper {
    margin-right: 28px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.IconImageWrapper svg {
    font-size: 24px;
    fill: rgb(242, 108, 84);
}
.Icon__SVGICON {
    display: inline-flex;
    align-self: center;
}
.Icon__SVGICON svg {
    width: 1em;
    height: 1em;
}
.ProductMenuContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 40px;
    justify-content: center;
}
.IconImageWrapper svg {
    font-size: 24px;
    fill: rgb(242, 108, 84);
}
.Productinformation__Container {
    height: 188px;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding: 20px 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
    width: 100%;
    height: 82px;
    margin-top: 44px;
}
.ProductMenuTitle {
    position: absolute;
    margin: 0px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    color: rgb(28, 28, 28);
}
.ItemForms__Wrapper {
    display: flex;
    justify-content: space-between;
    width: 630px;
}
.ItemForms__Container {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(234, 234, 234);
    border-radius: 4px;
    padding: 32px 24px 24px;
    width: 630px;
    height: 291px;
}
.FormsTitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.005em;
    margin-bottom: 8px;
    color: rgb(61, 61, 61);
    display: flex;
}
.styled__1 {
    background: rgb(252, 252, 252);
    border-radius: 4px;
    padding: 25px 22px 15px;
    margin-top: 8px;
}
.styled__2 {
    display: flex;
    justify-content: space-between;
    text-align: initial;
    color: rgb(61, 61, 61);
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    border-bottom: 1px solid rgb(234, 234, 234);
    padding-bottom: 16px;
    margin-bottom: 11px;
}
.styled__2 span {
    padding-bottom: 0px;
    padding-top: 5px;
}
.styled__2 em {
    display: inline;
    font-style: normal;
    color: black;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.02em;
    font-weight: bold;
}
.price em {
    display: inline;
    font-style: normal;
    color: rgb(248, 100, 83);
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.02em;
    font-weight: bold;
}
.styled__3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    color: rgb(158, 158, 158);
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
}
.styled__3 em {
    display: inline;
    font-style: normal;
    color: rgb(61, 61, 61);
    display: block;
    white-space: nowrap;
}




