<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orderdetails</title>
    <link rel="stylesheet" href="../../static/css/seller/Orderdetails.css">
    
</head>
<body>
    <div id="react-view" class="entire">
        <div class="ScrollTopBtn_Wrapper">
            <button class="ScrollTop__Btn">
                <span>최상위로</span>
            </button>
            <div class="ScrollTop__Styled Icon">
                <svg height="18px" version="1.1" viewBox="0 0 22 18" width="22px" xmlns="http://www.w3.org/2000/svg">
                    <g fill-rule="evenodd" id="Page-1" stroke="none">
                        <g id="jump-to-top" transform="translate(-1.000000, 0.000000)">
                        <path d="M12.006,5.987 L22.75,16.437 C22.9,16.587 23,16.837 23,17.087 C23,17.338 22.9,17.587 22.7,17.737 C22.35,18.087 21.75,18.087 21.35,17.737 L12.006,8.587 L2.611,17.737 C2.261,18.087 1.662,18.087 1.262,17.737 C0.912,17.387 0.912,16.787 1.262,16.437 L12.006,5.987 L12.006,5.987 Z M22.175,0 C22.631,0 23,0.37 23,0.825 L23,0.877 C23,1.332 22.63,1.702 22.175,1.702 L1.825,1.702 C1.369,1.702 1,1.332 1,0.877 L1,0.825 C1,0.369 1.37,0 1.825,0 L22.175,0 Z" id="Shape"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <section aria-label="Notifications alt+T" tabindex="-1" aria-live="polite" aria-relevant="additions text" aria-atomic="false"></section>
    <main class="ContentOnlyLayout__Wrapper">
        <div class="SubIndex__PageWrapper">
            <!-- 전체 레이아웃 -->
            <div class="styled__TopContents">
                <!-- 윗 부분 레이아웃 -->
                <div class="styled__TopContentsWrap">
                    <!-- ProductTopBox 레이아웃 -->
                    <div class="ProductTopBox__Wrapper">
                        <div class="ProductTopBox__Container">
                            <div class="ProductTopBox__Content">
                                <div class="ProductTopBox">
                                    <!-- 상품 썸네일 -->
                                    <div class="ProductThumbnail">
                                        <img src="../../static/images/seller/image.png" width="150px" height="150px">
                                    </div>
                                <!-- 상품 정보 레이아웃 -->
                                <div class="ProductContentWrapper">
                                        <div class="ProductBadge">마감임박</div>
                                        <div class="ProductCategory">식후경 | 물맑은양평시장</div>
                                    <p class="ProductTitle">
                                        <strong>감귤</strong>
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="ProductTopBox__Content__2">
                                <div class="ProjectProgressInformation__Container">
                                    <div class="ProjectProgressInformation">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 아래 부분 레이아웃-->
                <div class="ProductEditor__Wrapper">
                    <div class="ProductEditor__Container">
                        <div class="ProductEditor__Content">
                            <div class="ProductEditor">
                                <!-- 메뉴 -->
                                <div class="ProductMenu__Wrapper">
                                    <!-- 주문 정보(1) -->
                                    <div class="Productinformation__Wrapper">
                                        <div class="Productinformation__Container">
                                            <div class="IconImageWrapper">
                                                <div name="write-solid" class="Icon__SVGICON jqzjLF">
                                                    <svg viewBox="0 0 48 48">
                                                        <path d="M42.1181 14.5537C42.1557 14.5161 42.1544 14.454 42.1154 14.415L33.7715 6.07113C33.7325 6.03207 33.6704 6.03085 33.6329 6.06839L29.6905 10.0107C29.653 10.0483 29.6542 10.1103 29.6933 10.1494L38.0371 18.4933C38.0762 18.5323 38.1383 18.5335 38.1758 18.496L42.1181 14.5537Z"></path>
                                                        <path d="M36.134 20.5378C36.1715 20.5003 36.1703 20.4382 36.1312 20.3992C36.0922 20.3601 27.7874 12.0553 27.7874 12.0553C27.7483 12.0163 27.6862 12.015 27.6487 12.0526C27.6111 12.0901 9.6289 30.0723 9.6289 30.0723C9.61462 30.0866 9.60538 30.1052 9.6025 30.1255L8.21584 39.856C8.20646 39.9218 8.2647 39.9801 8.33053 39.9707L18.061 38.584C18.0813 38.5811 18.0999 38.5719 18.1142 38.5576C18.1142 38.5576 36.0964 20.5754 36.134 20.5378Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="ProductMenuContent">
                                                    <p class="ProductMenuTitle">주문 정보</p>
                                                
                                            </div>
                                    </div>
                                    </div>
                                     <!-- 배송 정보(1) -->
                                     <div class="Productinformation__Wrapper">
                                        <div class="Productinformation__Container">
                                            <div class="IconImageWrapper">
                                                <div name="write-solid" class="Icon__SVGICON jqzjLF">
                                                    <svg viewBox="0 0 48 48">
                                                        <path d="M6.1 14.9994C6.04477 14.9994 6 15.0442 6 15.0994L6 26.3066C6 26.3618 6.04477 26.4066 6.1 26.4066H9.5V41.8994C9.5 41.9547 9.54477 41.9994 9.6 41.9994H21.9C21.9552 41.9994 22 41.9547 22 41.8994V26.4066L26 26.4066V41.8994C26 41.9547 26.0448 41.9994 26.1 41.9994H38.4C38.4552 41.9994 38.5 41.9547 38.5 41.8994V26.4066H41.9C41.9552 26.4066 42 26.3618 42 26.3066V15.0994C42 15.0442 41.9552 14.9994 41.9 14.9994L6.1 14.9994Z"></path>
                                                        <path d="M21.9125 11.8069L18.4181 4.11919C18.3907 4.05899 18.3135 4.04145 18.2628 4.08393L12.1476 9.2091C12.0855 9.26112 12.1078 9.3615 12.186 9.38236L21.7957 11.9449C21.8773 11.9667 21.9474 11.8838 21.9125 11.8069Z"></path>
                                                        <path d="M26.0875 11.8069L29.5819 4.11919C29.6093 4.05899 29.6865 4.04145 29.7372 4.08393L35.8524 9.2091C35.9145 9.26112 35.8922 9.3615 35.814 9.38236L26.2043 11.9449C26.1227 11.9667 26.0526 11.8838 26.0875 11.8069Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="ProductMenuContent">
                                                    <p class="ProductMenuTitle">배송 정보</p>
                                            </div>
                                        </div>   
                                    </div>
                                    <!-- 상품 정보(1) -->
                                     <div class="Productinformation__Wrapper">
                                            <div class="Productinformation__Container">
                                            <div class="IconImageWrapper">
                                                <div name="write-solid" class="Icon__SVGICON jqzjLF">
                                                    <svg viewBox="0 0 48 48">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44ZM19 18C17.8954 18 17 18.8954 17 20C17 21.1046 17.8954 22 19 22C20.1046 22 21 21.1046 21 20C21 18.8954 20.1046 18 19 18ZM27 20C27 18.8954 27.8954 18 29 18C30.1046 18 31 18.8954 31 20C31 21.1046 30.1046 22 29 22C27.8954 22 27 21.1046 27 20ZM29 29.6667V27H19V29.6667C21.7077 32.5549 26.2923 32.5549 29 29.6667Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="ProductMenuContent">
                                                    <p class="ProductMenuTitle">상품 정보</p>
                                                
                                            </div>
                                            </div>
                                    </div>
                                </div>
                                <!-- 주문 정보(2) 레이아웃-->
                                 <div class="ItemForms__Wrapper">
                                        <div class="ItemForms__Container">
                                            <p class="FormsTitle">주문번호 : 20245517-000123</p>
                                                <div class="styled__1">
                                                    <div class="styled__2">
                                                        <span>주문금액</span>
                                                        <div class= price> <em>13,900원</em></div> 
                                                    </div>
                                                    <div class="styled__3">
                                                       배송비
                                                        <em>무료 배송
                                                        </em>
                                                    </div>
                                                    <div class="styled__3">
                                                       결제수단
                                                        <em>카드
                                                        </em>
                                                    </div><div class="styled__3">
                                                       결제일시
                                                        <em>2026.01.15
                                                        </em>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <!-- 배송 정보(2) 레이아웃 -->
                                    <div class="ItemForms__Wrapper">
                                        <div class="ItemForms__Container">
                                            <p class="FormsTitle"></p>
                                                <div class="styled__1">
                                                    <div class="styled__2">
                                                        <span>주문자</span>
                                                        <em>홍길동
                                                        </em>
                                                    </div>
                                                    <div class="styled__3">
                                                        휴대폰 번호
                                                        <em> 010-1234-5678
                                                        </em>
                                                    </div>
                                                    <div class="styled__3">
                                                        이메일 주소
                                                        <em> honggildong@email.com
                                                        </em>
                                                    </div>
                                                    </div>
                                                </div>
                                    </div>
                                   <!-- 상품 정보(2) 레이아웃-->
                                    <div class="ItemForms__Wrapper">
                                        <div class="ItemForms__Container">
                                            <p class="FormsTitle"></p>  
                                                <div class="styled__1">
                                                    <div class="styled__2">
                                                        <span>상품명</span>
                                                        <div class= price> <em>제주도 고당도 타이벡 감귤</em></div> 
                                                    </div>
                                                    <div class="styled__3">
                                                        원산지
                                                        <em>
                                                        국내산
                                                        </em>
                                                    </div>
                                                    <div class="styled__3">
                                                        옵션
                                                        <em>
                                                        타이벡 감귤 로얄과(2S-M) 2kg
                                                        </em>
                                                    </div>
                                                    
                                                    <div class="styled__3">
                                                        수량
                                                        <em>
                                                        1개
                                                        </em>
                                                    </div>
                                                    <div class="styled__3">
                                                        합계
                                                        <em>
                                                        13,900원
                                                        </em>
                                                    </div>  
                                                </div>
                                        </div>
                                    </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="../../static/js/seller/Orderdetails.js"></script>
</html>