<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>revieiw</title>
    <link rel="stylesheet" href="../../static/css/seller/review.css">
</head>
<body>
    <div id="react-view" class="entire">
        <div class="ScrollTop__ScrollTop Btn">
            <button class="ScrollTop__ScrollTop Btn2">
                <span>최상위로</span>
            </button>
            <div class="ScrollTop__Styled Icon">
                <svg height="18px" version="1.1" viewBox="0 0 22 18" width="22px" xmlns="http://www.w3.org/2000/svg">
                    <g fill-rule="evenodd" id="Page-1" stroke="none">
                        <g id="jump-to-top" transform="translate(-1.000000, 0.000000)">
                        <path d="M12.006,5.987 L22.75,16.437 C22.9,16.587 23,16.837 23,17.087 C23,17.338 22.9,17.587 22.7,17.737 C22.35,18.087 21.75,18.087 21.35,17.737 L12.006,8.587 L2.611,17.737 C2.261,18.087 1.662,18.087 1.262,17.737 C0.912,17.387 0.912,16.787 1.262,16.437 L12.006,5.987 L12.006,5.987 Z M22.175,0 C22.631,0 23,0.37 23,0.825 L23,0.877 C23,1.332 22.63,1.702 22.175,1.702 L1.825,1.702 C1.369,1.702 1,1.332 1,0.877 L1,0.825 C1,0.369 1.37,0 1.825,0 L22.175,0 Z" id="Shape"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <section aria-label="Notifications alt+T" tabindex="-1" aria-live="polite" aria-relevant="additions text" aria-atomic="false"></section>
    
    <main class="CreatorCenterLayout__Wrapper">
        <div class="CreatorCenterLayout__PageWrapper">
            <div class="CreatorCenterLayout__TabListWrapper">
                <div class>
                    <!-- 탭 레이아웃 -->
                    <div class="CreatorCenterLayout__TabList">
                        <button class="CreatorCenterLayout__StyledTabTrigger1" type="button">내 상품 조회</button>
                        <button class="CreatorCenterLayout__StyledTabTrigger2" type="button">후기 조회</button>     
                        <button class="CreatorCenterLayout__StyledTabTrigger1" type="button">주문 조회</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 이전 프로젝트 후기 레이아웃 -->
        <div class="PreviousReviewContainer">
             <!-- 이전 프로젝트 후기 제목 -->
            <div class="PreviousReview__Wrapper">
                <div class="PreviousReview__Container">
                    <div class="PreviousReviewTitle">이전 프로젝트 후기</div>
                    <div class="PreviousReviewTotal">123</div>
                </div>
            </div>
            <!-- 리뷰 -->
            <div class="Reviews__Wrapper">
                <div class="Reviews__Container">
                    <div class="Review__Content">
                        <!-- 품질 -->
                        <div class="Review__Wrapper">
                            <div class="ReviewTitle gMYpae">품질</div>
                                <div class="ReviewOption__Wrapper">
                                     <!-- 품질-만족해요 레이아웃-->
                                    <div class="ReviewOption">
                                        <!-- 만족해요 -->
                                        <div class="OptionItemTitle__first">만족해요</div>
                                        <!-- 과정 바 -->
                                        <div class="ProgressBar__Bar__first-86"></div>
                                        <!-- 리뷰 수치 -->
                                        <div class="ReviewKeywordItem__Rate">
                                        86%
                                        </div>
                                        <!-- 아이콘 -->
                                        <div class="IconWrapper rotation IconWrapper__first">
                                            <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 iHdpdx" width="16" height="16" viewBox="0 0 16 16" fill="none" xmls="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <!-- 품질-보통이에요 레이아웃-->
                                    <div class="ReviewOption">
                                        <!-- 보통이에요 -->
                                        <div class="OptionItemTitle__second">보통이에요</div>
                                        <!-- 과정 바 -->
                                        <div class="ProgressBar__Bar__second-15"></div>
                                        <!-- 리뷰 수치 -->
                                        <div class="ReviewKeywordItem__Rate">
                                            15%
                                        </div>
                                        <!-- 아이콘 -->
                                        <div class="IconWrapper rotation IconWrapper__second">
                                            <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 iHdpdx" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path>
                                            </svg>   
                                    </div>
                                </div>
                                    <!-- 품질-아쉬워요 레이아웃-->
                                    <div class="ReviewOption">
                                        <!-- 아쉬워요-->
                                        <div class="OptionItemTitle__second">아쉬워요</div>
                                        <!-- 과정 바 -->
                                        <div class="ProgressBar__Bar__second-0"></div>
                                        <!-- 리뷰 수치 -->
                                        <div class="ReviewKeywordItem__Rate">
                                        0%
                                        </div>
                                        <!-- 아이콘 -->
                                        <div class="IconWrapper rotation IconWrapper__second">
                                            <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 kVDQCJ" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path> 
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- 주문/배송 -->
                        <div class="Review__Wrapper">
                            <div class="ReviewTitle">주문/배송</div>
                                <div class="ReviewOption__Wrapper">
                                    <!-- 주문/배송-빨랐어요 레이아웃 -->
                                    <div class="ReviewOption">
                                        <!-- 빨랐어요 -->
                                        <div class="OptionItemTitle__first">빨랐어요</div>
                                        <!-- 과정 바 -->
                                        <div class="ProgressBar__Bar__first-86"></div>
                                        <!-- 리뷰 수치 -->
                                        <div class="ReviewKeywordItem__Rate">
                                        86%
                                        </div>
                                        <!-- 아이콘 -->
                                        <div class="IconWrapper IconWrapper__first">
                                            <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 iHdpdx" width="16" height="16" viewBox="0 0 16 16" fill="none" xmls="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <!-- 주문/배송-보통이에요 레이아웃 -->
                                    <div class="ReviewOption">
                                        <!-- 보통이에요 -->
                                        <div class="OptionItemTitle__second">보통이에요</div>
                                        <!-- 과정 바 -->
                                        <div class="ProgressBar__Bar__second-8"></div>
                                        <!-- 리뷰 수치 -->
                                        <div class="ReviewKeywordItem__Rate">
                                        8%
                                        </div>
                                        <!-- 아이콘 -->
                                        <div class="IconWrapper IconWrapper__second">
                                            <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 iHdpdx" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path>
                                            </svg>   
                                    </div>
                                    </div>
                                    <!-- 주문/배송-빨랐어요 레이아웃 -->
                                    <div class="ReviewOption">
                                        <!-- 느렸어요 -->
                                        <div class="OptionItemTitle__second">느렸어요</div>
                                        <!-- 과정 바 -->
                                        <div class="ProgressBar__Bar__second-8"></div>
                                        <!-- 리뷰 수치 -->
                                        <div class="ReviewKeywordItem__Rate">
                                        8%
                                        </div>
                                        <!-- 아이콘 -->
                                        <div class="IconWrapper IconWrapper__second">
                                            <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 iHdpdx" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path> 
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!-- 소통 -->
                        <div class="Review__Wrapper">
                            <div class="ReviewTitle">소통</div>
                                <div class="ReviewOption__Wrapper">
                                    <!-- 소통-만족해요 레이아웃-->
                                    <div class="ReviewOption">
                                        <!-- 만족해요 -->
                                        <div class="OptionItemTitle__first">만족해요</div>
                                        <!-- 과정 바 -->
                                        <div class="ProgressBar__Bar__first-100"></div>
                                        <!-- 리뷰 수치 -->
                                        <div class="ReviewKeywordItem__Rate">
                                        100%
                                        </div>
                                        <!-- 아이콘 -->
                                        <div class="IconWrapper IconWrapper__first">
                                            <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 iHdpdx" width="16" height="16" viewBox="0 0 16 16" fill="none" xmls="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <!-- 소통-보통이에요 레이아웃-->
                                    <div class="ReviewOption">
                                        <!-- 보통이에요 -->
                                        <div class="OptionItemTitle__second">보통이에요</div>
                                        <!-- 과정 바 -->
                                        <div class="ProgressBar__Bar__second-0"></div>
                                        <!-- 리뷰 수치 -->
                                        <div class="ReviewKeywordItem__Rate">
                                        0%
                                        </div>
                                        <!-- 아이콘 -->
                                        <div class="IconWrapper IconWrapper__second">
                                            <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 kVDQCJ" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path>
                                        </svg>   
                                    </div>
                                    </div>
                                    <!-- 소통-아쉬워요 레이아웃-->
                                    <div class="ReviewOption">
                                        <!-- 아쉬워요  -->
                                        <div class="OptionItemTitle__second">아쉬워요</div>
                                        <!-- 과정 바 -->
                                        <div class="ProgressBar__Bar__second-0"></div>
                                        <!-- 리뷰 수치 -->
                                        <div class="ReviewKeywordItem__Rate">
                                        0%
                                        </div>
                                        <!-- 아이콘 -->
                                        <div class="IconWrapper IconWrapper__second">
                                            <svg class="ReviewKeywordItem__ArrowDownIcon-sc-1mwoly9-0 kVDQCJ" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path> 
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
        <main class="Reply__Main">
            <section>
                <div class="ReplyList__ListContainer">
                    <article class="ReplyItem__Container">
                        <div class="ReplyItem__Content">
                            <header class="ReplyItem__Header">
                                <div class="ReplyItem__HeaderContent">
                                    <span class="ReplyType__Type">Hyun Soo Yoon</span>
                                    <span class="ReplyStatusBadge__Badge"></span>
                                </div>
                            </header>
                            <div height="8" class="Spacing__Wrapper1"></div>
                            <h3 class="ReplyItem__Title">진짜..내가 잘 했어. 과거의 나 칭찬해!!</h3>
                            <div height="16" class="Spacing__Wrapper2"></div>
                            <time datetime="2026-01-21T10:00:00" class="ReplyItem__CreatedAt">2022-07-03</time>
                        </div>
                    </article>

                    <article class="ReplyItem__Container">
                        <div class="ReplyItem__Content">
                            <header class="ReplyItem__Header">
                                <div class="ReplyItem__HeaderContent">
                                    <span class="ReplyType__Type">허윤기</span>
                                    <span class="ReplyStatusBadge__Badge"></span>
                                </div>
                            </header>
                            <div height="8" class="Spacing__Wrapper1"></div>
                            <h3 class="ReplyItem__Title">책을 샀는데 선물이 더 많네요,
몬스테라 이쁘게 만들어(!) 진열하겠습니다. 기다린 보람이 있어요.</h3>
                            <div height="16" class="Spacing__Wrapper2"></div>
                            <time datetime="2026-01-21T10:00:00" class="ReplyItem__CreatedAt">2025-07-28</time>
                        </div>
                    </article>
                </div>
            </section>
        </main>
</body>
<script src="../../static/js/seller/review.js"></script>
</html>